@media screen and (max-width: 512px) {
  .help-links {
    flex-flow: column;
    height: 100%;
    min-width: 300px;
  }

  .way {
    height: 20vw;
  }

  .tiles {
    width: 80vw;
  }

  .info {
    width: 80vw;
    flex-flow: column;
  }

  .info img {
    width: 200px;
    height: 245px;
    min-height: 0;
  }
}