* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.5em;
}

.h-two-title {
    margin-bottom: 15px;
}

.h-two-top {
    margin-top: 40px;
}

main {
    background-color: rgb(214, 214, 214);
}

nav {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
}

nav a {
    padding: 8px 20px;
    font-size: 20px;
    transition: .1s;
    color: rgb(53, 53, 255);
}

nav a:hover {
    color: rgb(3, 0, 124);
    border-bottom: 2px solid rgb(255, 187, 0);
}

.use-it {
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.help-links {
    height: 160px;
    width: 40vw;
    max-width: 800px;
    min-width: 400px;
    margin: 40px 0;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(204, 204, 204);
    border-radius: 10px;
}

.help-links-block {
    /* background-color: rgb(153, 153, 153); */
    width: 30%;
    display: flex;
    flex-flow: column;
}

.help-links-block h2,
.help-links-block a {
    padding: 8px 0 2px 0;
}

.help-links-block a {
    font-size: 18px;
    color: blue;
    display: block;
    width: 100%;
    transition: .1s;
}

.help-links-block hr {
    margin-bottom: 10px;
}

.help-links-block a:hover {
    border-left: 2px solid rgb(255, 0, 0);
    padding-bottom: 4px;
    padding-left: 10px;
}

.best-star {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: rgb(0, 146, 12);
    border-radius: 100%;
    margin-left: 10px;
}

/*read block*/
.road {
    background-color: rgb(106, 123, 160);
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 60px 0;
}

.road h1 {
    color: #fff;
    /* font-size: 46px; */
}

.tiles {
    width: 80vw;
    /*60*/
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin-top: 30px;
}

.html {
    background: url(img/html.jpg);
}

.css {
    background: url(img/css.jpg);
}

.js {
    background: url(img/js.jpg);
}

.scratch {
    background: url(img/scratch.jpg);
}

.figma {
    background: url(img/figma.jpg);
}

.security-cs {
    background: url(img/scs.jpg);
}

.way {
    width: 30%;
    /*25%*/
    height: 30vw;
    /*15vw*/
    background-size: 90%;
    background-position: center;
    transition: .2s;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 36px;
}

.way a {
    opacity: 0;
    display: inline-flex;
    width: 100%;
    height: 100%;
    transition: .2s;
    justify-content: center;
    align-items: flex-end;
    font-weight: 700;
    position: relative;
    bottom: 0;
}

.way a:hover {
    opacity: 1;
    bottom: 50px;
}

.html:hover,
.css:hover,
.js:hover,
.scratch:hover,
.figma:hover,
.security-cs:hover {
    background-size: 110%;
}

/*page from about */
.hello-banner {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hello-banner img {
    width: 50vw;
}

.info {
    width: 50vw;
    margin: 40px auto;
    display: flex;
}

.info img {
    width: 260px;
    height: 345px;
    min-height: 345px;
    -webkit-box-shadow: 10px 10px 0px -4px #0305FF;
    box-shadow: 10px 10px 0px -4px #0305FF;
    border: 2px solid black;
    margin-right: 40px;
}

.info h1 {
    margin-bottom: 20px;
}

.sub-categories {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 64px;
    padding: 10px 0;
    margin: 20px;
}

.sub-categories a {
    margin-left: 20px;
    font-size: 1.1rem;
    color: blue;
}

.sub-categories a:hover {
    border-bottom: 2px solid rgb(255, 187, 0);
}

.cat-information {
    background-color: #fff;
    padding: 40px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.content-area {
    width: 50vw;
    min-width: 660px;
    font-size: 1.4rem;
}

.content-area a {
    color: blue;
}

/*footer*/
footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(65, 65, 65);
    font-size: 22px;
    color: white;
}

/* SPAN */
.code-block {
    display: inline-block;
    background-color: rgb(51, 51, 51);
    color: #fff;
    border-radius: 6px;
    border-style: dashed;
    border-color: #39ff2b;
    padding: 14px;
    margin: 20px 0 40px 0;
    font-size: 1.2rem;
    font-family: 'Source Code Pro', monospace;
}

.code-block-inline {
    display: inline-block;
    background-color: rgb(51, 51, 51);
    color: #fff;
    border-radius: 6px;
    border: 1px dashed lightblue;
    padding: 0 14px;
    margin: 0 10px;
    font-size: 1rem;
    font-family: 'Source Code Pro', monospace;
}

.tabs {
    display: inline-block;
    width: 26px;
}

hr {
    width: 50%;
    border-color: blue;
}

.warning {
    color: red;
}

.attr {
    color: rgb(255, 0, 0);
}

.content-area p {
    margin-bottom: 20px;
}

.active {
    color: green;
}

.sub-categories .active {
    color: green;
}

.top {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 68, 68);
    border-radius: 20px;
    position: fixed;
    left: 60px;
    bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}